<header class="header" id="top">
	<div class="text-vertical-center">
        <div class="container2">MY DARES
        </div>
    <section class="points"><strong>
	   Current Points: 0
	</strong></section>
	<div id="posts">
	{{#each posts}}
		<form action="/proof">
			<ul id="singlepost" class="singlepost" style="list-style: none; text-align: center">
			<li><b><u><h3>{{title}}</h3></u></b></li>
			<li>Dare: {{text}}</li>
			<li>Points: {{points}}</li>
			<li>Category: {{category}}</li>
			<li>Post ID: {{id}}</li>
			<li>
				<button type="submit">
				Complete
				</button>
			</li>
			</ul>
			<hr style="border-color:white;">
		</form>
	{{/each}}
	</div>
</header>

<script>
var points = 0;
$(document).ready(function() {
	$.post("/myprofile", {id: localStorage.playerId}, function(data) {
		var content = data.substring(data.indexOf("<div id="), data.indexOf("</header>"));
		$("#posts").html(content);
	})
})

if (!localStorage.getItem("playerId")) {
    window.location.href = "/login2"
    }
</script>

<style>
section {
	font-size: 30px;
}
header {
    background-image: url("../img/listodopost.jpg")
}

#title1 {
	text-align: center;
}

.points {
	color: white;
	font-size: 20px;
	text-align: right;
	margin-right: 2%;
}

#singlepost {
	padding: 30px;
}

#posts {
	background-color: black;
	opacity: .77;
	padding: 20px;
	margin: 3px auto;
	color: white;
	left: 8.33%;
	border-radius: 10px;
	width: 70%;
}

.createpost {
  	left: 90%;
    position: fixed;
    padding: 10px;
    font-size: 20px;
    font: bold;
}
</style>