<header class="header" id="top">
	<div class="text-vertical-center row">

	<div class="col-sm-6">
        <div class="container2">Your Posts</div>
		<a href="/create"><button class="createpost">New Post +</button></a>

<br/>
<div class="row">
	<div id="posts" class="col-sm-9 handleposts" style="overflow: auto; max-height: 70%">
	{{#each posts}}
	<form formaction="/sponsors/edit/{{id}} /delete/{{id}}" method="POST">
		<ul id="singlepost" class="singlepost" style="list-style: none; text-align: center">
		<li><h2><u>{{title}}</u></h2></li>
		<li>{{text}}</li>
		<li>Reward: {{points}}</li>
		<li>Post ID: {{id}}</li>
		<li>
			<button formaction="/sponsors/edit/{{id}}" type="submit">Edit</button>

 			<button formaction="/delete/{{id}}" class="delete">Delete</button>

		</li>
		</ul>
		<hr style="border-color:white;">
	</form>
	{{/each}}
	</div>
</div>

</div>
</header>

<script>
$(document).ready(function() {
	$.post("/sponsors", {id: localStorage.sponsorId}, function(event) {
		var content = event.substring(event.indexOf("<div id="), event.indexOf("</header>"));
		$(".header").append(content);
	});
});

if (!localStorage.getItem("sponsorId")) {
    window.location.href = "/login"
    }
</script>

<style>
button {
	border-radius: 3px;
}
header {
    background-image: url("../img/listodopost.jpg")
}

#title1 {
	text-align: center;
}

#singlepost {
	padding: 30px;
	border-radius: 4px;
	font-size: 18px;
}

#posts {
	background-color: black;
	opacity: .77;
	padding: 20px;
	margin: 3px;
	color: white;
	position: fixed;
	left: 8.33%;
	border-radius: 10px;
	border-radius: 6px;
}

.createpost {
  	left: 86%;
    position: fixed;
    padding: 10px;
    font-size: 20px;
    font: bold;
}
</style>